/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    line-height: 1.6;
    background-color: #26484A;
}

header {
    background: #26484A;
    color: #dae6db;
    text-align: center;
    padding: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    background: #0C2C2E;
    text-align: center;
}

main {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main2 {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #26484A;
}

footer {
    background: #757a3a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #dae6db;
    padding: 5px 10px;
    font-weight: bold;
}

    nav a:hover {
        background-color: #555;
    }

.main-image {
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: -20%;
}
.center-text {
    margin: 10px;
    padding: 20px;
    color: #dae6db;
    font-size: 18px;
}

.center-subtext {
    margin: 10px;
    padding: 20px;
    color: #dae6db;
    font-size: 18px;
}

.right-image{
    margin-top: 5%;
}
.right-text {
    color: #dae6db;
    padding: 20px;
    font-size: 18px;
}
.left-text-header {
    color: #dae6db;
    padding: 20px;
    font-size: 30px;
    margin-left: -30%;
    margin-right: 40%;
}

.left-text-subheader {
    color: #dae6db;
    padding: 20px;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
}

.card-content-text {
    color: #0C2C2E;
    padding: 20px;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    white-space: nowrap;
}

.left-text{

}

.main-video{
    border-radius: 100px;
}

.center-title {
    margin: 10px;
    padding: 25px;
    color: #dae6db;
    font-size: 20px;
}

.next-to {
    display: flex;
}

.side-by-side{
    align-items: center;
    display:flex;
    justify-content: space-between;
}
.side-by-side > *{

}

.side-by-side-text {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


button {
    background: #0C2C2E;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #dae6db;
}

.displayText {
    border: 10px solid;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #0C2C2E;
    background: #dae6db;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .image-row img {
        max-width: 500%;
        border-radius: 20px;
    }

.card-content {
    align-content: center;
    border: 8px solid #423912;
    border-radius: 20px;
    border-style: solid;
    border-color: #0C2C2E; 
    display: block;
    background: #dae6db;
    padding: 2%;
    width: 70%;
}


.image-display img {
    border-radius: 100px;
}