/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    line-height: 1.6;
    background-color: #888a5a;
}

header {
    background: #888a5a;
    color: #423912;
    text-align: center;
    padding: 20px 0;
}

nav {
    background: #a1a36c;
    text-align: center;
}

main {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main2 {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #888a5a;
}

footer {
    background: #757a3a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #423912;
    padding: 5px 10px;
    font-weight: bold;
}

    nav a:hover {
        background-color: #555;
    }

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

    .main-image img {
        width: 1200px;
        height: 450px;
    }
.center-text {
    margin: 10px;
    padding: 20px;
    color: #423912;
    font-size: 18px;
}

.center-subtext {
    margin: 10px;
    padding: 20px;
    color: #423912;
    font-size: 18px;
}

.right-image{
    margin-top: 5%;
}
.right-text {
    color: #423912;
    padding: 20px;
    font-size: 18px;
}
.left-text-header {
    color: #423912;
    padding: 20px;
    font-size: 30px;
    margin-left: -30%;
    margin-right: 40%;
}

.left-text-subheader {
    color: #423912;
    padding: 20px;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
}

.left-text{

}

.main-video{
    border-radius: 100px;
}

.center-title {
    margin: 10px;
    padding: 20px;
    color: #423912;
    font-size: 30px;
}

.next-to {
    display: flex;
}

button {
    background: #a1a36c;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.displayText {
    border: 10px solid;
    margin-top: 20px;
    font-size: 18px;
    color: #423912;
}