/* Reset and general styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, serif;
    line-height: 1.6;
    background-color: #888a5a;
}

header {
    background: #888a5a;
    color: #423912;
    text-align: center;
    padding: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


nav {
    background: #a1a36c;
    text-align: center;
}

main {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #423912;
    padding: 5px 10px;
    font-weight: bold;
}

    nav a:hover {
        background-color: #555;
    }

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 10px;
}


.center-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

    .image-row img {
        max-width: 500%;
        margin: 0px 120px;
        border-radius: 20px;
    }

.image-with-text {
    overflow: visible;
    position: relative;
    margin: 10px;
    text-align: center;
}

    .image-with-text img {
        max-width: 60%;
        display: block;
        margin-bottom: 10px;
        transition: transform 0.2s;

    }

    .image-with-text:hover img {
        transform: scale(1.1); /* Apply zoom effect to image on hover */
    }

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    color: #fff;
    z-index: 2;
    transition: opacity 0.3s;
    padding: 10px;
    border: thick;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Show text overlay when hovering over .image-with-text */
.image-with-text:hover .text-overlay {
    opacity: 1; /* Show text overlay on image hover */
}

.game-type {
    font-size: 30px;
}
.next-to {
    display: flex;
}

.side-by-side {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.side-by-side > * {
     margin: 0 100px;
}

.left-text-subheader {
    color: #423912;
    padding: 20px;
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
}


